<phpunit bootstrap="vendor/silverstripe/cms/tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="recipe-reporting-tools">
            <directory>vendor/silverstripe/externallinks/tests</directory>
            <directory>vendor/silverstripe/reports/tests</directory>
            <directory>vendor/silverstripe/securityreport/tests</directory>
            <directory>vendor/silverstripe/sitewidecontent-report/tests</directory>
            <directory>vendor/bringyourownideas/silverstripe-maintenance/tests</directory>
            <directory>vendor/bringyourownideas/silverstripe-composer-update-checker/tests</directory>
            <directory>vendor/bringyourownideas/silverstripe-composer-security-checker/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
